.Weather {
  font-family: Arial, sans-serif;
  border: 1px solid rgb(150, 216, 150);
  border-radius: 4px;
  color: rgb(135, 135, 135);
  padding: 16px;
  margin: 30px auto;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-weight: 100;
  font-size: 24px;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0 auto;
  padding: 0;
}

.Weather li {
  list-style: none;
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 550;
  position: relative;
  line-height: 1;
  top: -34px;
}
